<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            <li class="uk-active"><a href="/">Home</a></li>
        </ul>
        <div class="uk-panel widget_text">
            <div class="uk-text-center">
                <p>{{ site.name }}
                    <br /> Kuala Lumpur, WP</p>
                <p><a class="uk-button" href="mailto:allan@clchang.net?subject=Contact%20Allan">Send Email</a></p>
                <p>
                    <a href="{{ site.mobile }}" class="uk-icon-button uk-icon-phone"></a>
                    <a href="{{ site.twitter }}" class="uk-icon-button uk-icon-twitter" target="_blank"></a>
                    <a href="{{ site.facebook }}" class="uk-icon-button uk-icon-facebook" target="_blank"></a>
                    <a href="{{ site.google_plus }}" class="uk-icon-button uk-icon-google-plus" target="_blank"></a>
                </p>
            </div>
        </div>
    </div>
</div>
