<!DOCTYPE HTML>
<html lang="en-US" dir="ltr" data-config='{"twitter":0,"plusone":0,"facebook":0,"style":"mystyle1"}'>

{% include head.html %}

<body class="tm-section-divider tm-sidebar-width-33">

  <div class="uk-grid tm-wrapper" data-uk-grid-match>
    {% include side-bar.html %}
    <div class="uk-width-1-1 tm-content-wrapper tm-footer-true">
      {% include nav-bar-mobile.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </div>

  {% include off-canvas.html %}

</body>
</html>
